<table align="center">
  <col width="300">
  <col width="400">
  <tr valign="center">
    <td>

<h1><%= image_tag ("logo.jpg")%> alpha</h1>
<br>

  <l>Welcome to</l><br>
  <l style="font-size:25px"><b>alpha service</b></l><br><br><br>

  <%= form_with url: "/login", method: :post do |form| %>
    <l>Email Adress:</l><br>
    <%= form.email_field :email, autofocus: true, :required => 'required' %>
    <% flash.each do |type, msg| %>
      <div style="color:red">
        <%= msg %>
      </div>
    <% end %>
    <br><br>
    <%= form.submit "Continue" %>
  <% end %>
</td>
<td>
  <%= image_tag ("login.jpg")%>
</td>
</tr>
</table>
