<h1>My Orders</h1>

 <%= form_with url: "/new_order", method: :post do |form| %>
   <%= form.submit "Create New Order" %>
   <%= hidden_field_tag "id", @user_id %>
 <% end %>

<% unless @orders.blank? %>
	<%= render "layouts/table" %>
<% else %>
	<%= render "layouts/no_orders" %>
<% end %>

