<table id="dtDynamicVerticalScrollExample" class="table table-striped table-bordered table-sm w-80" cellspacing="0">
  <thead>
    <tr>
      <th class="th-sm">Order ID
      </th>
      <th class="th-sm">Service Date
      </th>
      <th class="th-sm">Brand
      </th>
      <th class="th-sm">Mileage
      </th>
      <th class="th-sm">Progress
      </th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.service_date.strftime('%d/%m/%Y') %></td>
        <td><%= item.brand.name %></td>
        <td><%= item.mileage %></td>
        <td><%= item.order_progress.name %></td> 
      </tr>
    <% end %>
  </tbody>
</table>